@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>I love Kana.</p>
<p>Feel free to come with suggestions for features through the email linked below.</p>
<address>
    Written by <a href="mailto:magnus_elden@hotmail.com">Magnus Elden</a>.<br>
</address>