@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href=@Url.Content("~/css/site.css") type="text/css" />
</head>

<div class="jumbotron" style="background-color:#272732">
    <h1>Welcome to the recipe dictionary!</h1>
    <p class="lead">You can search by recipe name, cuisine, ingredients and more!</p>
</div>


@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Name",
        Value = "name"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Ingredients",
        Value = "ingredients",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Cuisine",
        Value = "cuisine"
    });
}


<div>
    <ul>
        <li>
            <p>Select search mode</p>
            @Html.DropDownList("yourDropName", listItems, new { Style = "background:#fff; color:#000" })
        </li>
        <li>
            <p>Search</p>
            @Html.TextBox("name", null, new { Style = "background:#fff; color:#000" })
            <input id="Button1" type="button" value="button" style="color:#000" />
        </li>
    </ul>
</div>
<div>Results</div>


